
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      // Allows users to upload images to the community and gallery
      allow write: if true;
    }
  }
}
